@import "background-colors";

$flex-container-size: 100%;
$flex-item-size: 300px;

#window {
    width: 100%;
    padding: 1vh 1vw;
    background: cadetblue;
    box-sizing: border-box;
    overflow:hidden;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    button {
        border: 0;
        min-width: 10%;
        border-radius: 4px;
        color: #eee;
        background: #aaa;
        padding: 1vh 1vw;
        &:hover, &:focus {
            background: gray;
        }

        margin: 2vh 1vw;
        min-height: fit-content;
        width: fit-content;
        box-sizing: border-box;
    }
    
}

.flex-container.stasis {
    transform: none !important;
    transition: transform 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.flex-container.slide-forward {
    transform: translateX($flex-item-size);
}

.flex-container.slide-backward {
    transform: translateX($flex-item-size * -1);
}

.flex-container {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: left;
    box-sizing: border-box;
    min-height: min-content;
    width: $flex-container-size;
    left: $flex-item-size * -1; 

    position: relative;
        .flex-item {
        color: #aaa;
        font-size: 2rem;
        font-weight: normal;
        text-align: center;
        width: 300px;

        order: 2;
        //transition: order 250ms ease-in-out;

        .img-container {
            margin: 1vh 1vw;
            img {
                width: 260px;
                height: 260px;
                object-fit: contain;
            }
        }

        .cta-container {
            color: #aaa;
            font-size: 4rem;
            font-weight: normal;
            padding: 2vh 2vw;
            text-align: center;
        }
    }

    .flex-item.reference-item {
        order: 1;
    }
}

